.speech {
    font-style:oblique;
    font-size:20px;
    color:black;

}
.direction {
    font-family:'Courier New',Courier,monospace;
    font-size:15px;
    color:black;
    background-color:lightcyan;

}
.direction:hover {
    background-color:lavender;
    color: violet;

}
.NORA {
    font-style: inherit;
    font-size: medium;
    color: blueviolet;

}
.HELMER {
    font-style:oblique;
    font-size: medium;
    color: darkolivegreen;

}
.MAID {
    font-style: inherit;
    font-size: medium;
    color: red;

}