.speech {
    font-style:oblique;
    font-size:20px;
    color:black;
}
.direction {
    font-family:'Courier New',Courier,monospace;
    font-size:15px;
    color:black;
    background-color:lightcyan;
}
.name {
    font-style:Italic;
    font-size:15px;
    color:black;
}
.direction:hover {
    background-color:lavender;
    color: violet;
}
.NORA {
    color: blueviolet;
}
.HELMER {
    color: darkolivegreen;
}
.MAID {
    color: red;
}

table,th,td{
    border: 2px solid;
    border-color:grey;
    padding:10px;
}
th{
    font-size: larger;
    font-style: oblique;
    font-variant-caps: all-petite-caps;
}
table{
    width: 70%;
    text-align:center;
    margin: 5%;   
}
tr:nth-child(odd){
    background-color: lightgreen;
}
.NORA:hover {
    border-style: dashed;
    box-shadow: 10px 10px 7px yellowgreen;
    filter:blur(0.7px);
}
.HELMER:hover {
    text-shadow: 2px 2px 5px palevioletred;
    border-style: dashed;
}
.MAID:hover {
    border-style: dashed;
    box-shadow: 10px 10px 7px pink;
    filter:blur(0.7px);

}